<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">

    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <span id="hamburger-icon" aria-hidden="true"></span>
    <button id="menu-toggle" name="menu-toggle" aria-haspopup="true" aria-expanded="false" aria-controls="flyout-menu" class="visually-hidden">
    Menu
    </button>
  </label>
    <header>{{header}}</header>
     <nav id="flyout-menu" aria-hidden="true">
        <ul>
          <li><a href="{{ url_for('index')}}">home</a></li>
          <li><a href="{{ url_for('me_1')}}">Menu Item 1</a></li>
          <li><a href="{{ url_for('me_2')}}">Menu Item 2</a></li>
          <li><a href="{{ url_for('me_3')}}">Menu Item 3</a></li>
          <li><a href="{{ url_for('me_4')}}">Menu Item 4</a></li>
        </ul>
     </nav>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename= 'js/hamburgermenu.js') }}"></script>


  </body>
</html>